{% extends 'admin/base_site.html' %}
{% load i18n admin_static admin_modify %}

{% load url from future %}
{% load admin_urls %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'change' original.pk %}">{{ original|truncatewords:"18" }}</a>{% else %}Add{% endif %}
    &rsaquo; share
</div>

{% endblock %}
{% endif %}
{% block content %}
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" /></p>
</form>
{% endblock %}
