*.pyc
~*
*.swp
.pbundle
lfluxproject/localsettings.py
lfluxproject/test.db
db/*
env/*
lfluxproject/data/countries.txt
lfluxproject/media/
localsettings.py
local_settings.py
localstatic
.DS_Store
*.mo
