django==1.4.0
django-reversion==1.6
git+git://github.com/luminousflux/overdiff.git#egg=overdiff
south
git+git://github.com/luminousflux/django-taggit.git#egg=django-taggit
markdown
-e git+git://github.com/fin/django-pagedown.git#egg=django-pagedown
PIL
django-userena
django-admin-tools
django-debug-toolbar
django-nose
-e git+git://github.com/chuckharmston/django-tumblelog.git#egg=django-tumblelog

