<!DOCTYPE html>
<html>
    <head>
        <title>Luminous Flux</title>
        <link rel="stylesheet" href="/static/css/overcast/jquery-ui-1.8.20.custom.css" />
        <link rel="stylesheet" href="/static/style.css" />
        <script src="/static/js/jquery-1.7.2.min.js"></script>
        <script src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="/static/application.js"></script>
    </head>
    <body>
        <div id="page">
            {% block content %}
            {% endblock %}
            <section id="footer">
            {% if settings.DEMO_MODE %}
                <div style="color: white; text-align: right; float: right;">
                demo mode:
                <a href="{{ settings.LOGIN_URL }}">login</a> | 
                <a href="{% url userena.views.signup %}">sign up</a> | 
                <a href="/admin/">admin backend</a>
                </div>
            {% endif %}
            luminous flux preview
            </section>
        </div>
    </body>
</html>
