{% load static from staticfiles %}{% load flatpages %}{% load i18n googleanalytics_tags %}{% load url from future %}{% load ifstatic %}<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} {{site.name}}</title>


        {% include 'all_javascript.inc' %}

        <link rel="stylesheet" href="{% static 'css/overcast/jquery-ui-1.8.20.custom.css' %}" />
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Podkova' type='text/css'>
        <link rel="stylesheet" href="{% static 'tumblelog/tumblelog.css' %}" />
        <link rel="stylesheet" href="{% static '3rd/joyride/joyride-2.0.3.css' %}" />
        <link rel="stylesheet" href="{% static 'uni_form/uni-form.css' %}" />
        <link rel="stylesheet" href="{% static 'uni_form/default.uni-form.css' %}" />
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <link rel="stylesheet" href="{% static 'text.css' %}" />

        <script>
            $(document).ready(function() {
                $('#embed_value').val("{{embed_code|escapejs}}");
            });
        </script>

        {% block head %}
        {% endblock %}
    </head>
    <body {% block bodyargs %}{% endblock %}>
        <div id="page">
            <div id="brand">
                <a href="/">{% block brand %}{% ifstatic 'img/logo.png' %}<img src="{{static}}" width="100" alt="{{site.name}}" />{% else %}{{site.name}}{% endifstatic %}{% endblock %}</a>
            </div>
            {% block overcontent %}
            {% endblock %}
            {% block surroundcontent %}
            {% block content %}
            {% endblock %}
            {% endblock %}
            <section id="footer">
            {% get_flatpages as flatpages %}
            {% for page in flatpages %}
            {% if not forloop.first %}
            · 
            {% endif %}
                <a href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
            <div style="text-align: right; float: right;">
                {% if settings.DEMO_MODE %}
                    {% trans "demo mode" %} ·
                {% endif %}
                {% if request.user.is_authenticated %}
                    {{request.user.username}} ·
                    <a href="{% url "userena_profile_detail" username=request.user.username %}">{% trans "Profile" %}</a> · 
                    <a href="{{ settings.LOGOUT_URL }}">{% trans "Sign Out" %}</a> · 
                        {% if request.user.is_staff %}
                            <a href="/backend/">{% trans "Editor" %}</a>
                        {% endif %}
                {% else %}
                    <a href="{{ settings.LOGIN_URL }}">{% trans "Sign In" %}</a> · 
                    <a href="{% url "userena.views.signup" %}">{% trans "Sign Up" %}</a>
                {% endif %}
            </div>
            </section>
        </div>
        {% block additional_body %}
        {% endblock %}
        {% googleanalytics %}
    </body>
</html>
