{% load static %}{% load flatpages %}<!DOCTYPE html>
<html>
    <head>
        <title>Luminous Flux {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/overcast/jquery-ui-1.8.20.custom.css' %}" />
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <script src="/static/js/jquery-1.7.2.min.js"></script>
        <script src="/static/js/jquery.scrollable.js"></script>
        <script src="/static/js/jquery.scrollto.js"></script>
        <script src="/static/js/jquery.form.js"></script>
        <script src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/application.js"></script>
        <link rel="stylesheet" href="{% static 'tumblelog/tumblelog.css' %}" />
        <script src="{% static 'js/worldmap.js' %}"></script>
        <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $('#embed_value').val("{{embed_code|escapejs}}");
            });
        </script>

        <link rel="stylesheet" href="{% static 'uni_form/uni-form.css' %}" />
        <link rel="stylesheet" href="{% static 'uni_form/default.uni-form.css' %}" />
        {% block head %}
        {% endblock %}
    </head>
    <body {% block bodyargs %}{% endblock %}>
        <div id="page">
            {% block content %}
            {% endblock %}
            <section id="footer">
            luminous flux preview
            {% get_flatpages as flatpages %}
            {% for page in flatpages %}
            · 
                <a href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
            {% if settings.DEMO_MODE %}
                <div style="color: white; text-align: right; float: right;">
                demo mode:
                {% if request.user.is_authenticated %}
                <a href="{{ settings.LOGOUT_URL }}">logout</a> | 
                <a href="/backend/">admin backend</a>
                {% else %}
                <a href="{{ settings.LOGIN_URL }}">login</a> | 
                <a href="{% url userena.views.signup %}">sign up</a>
                {% endif %}
                </div>
            {% endif %}
            </section>
        </div>
        {% block additional_body %}
        {% endblock %}
    </body>
</html>
