.text abbr { border-bottom: 1px dotted #666; }

.text {
    font-size: 1.1em;
    line-height: 1.9em;
}

.text h1, .text h2 {
    font-size: 2em;
    margin-top: .2em;
    margin-bottom: .5em;
    padding: 0 20px 0 0.66em;
    margin-left: 0;
    padding-left: 0;
}
.text h1.ins, .text h2.ins {
    background-color: inherit;
}
.text h3 {
    color: #888;
    margin: .6em 0 .4em 0;
}
.text h3 + p {
    margin-top: 0;
}


.text img {
    border: 1px solid transparent;
    max-width: 33%;
    z-index: 1;
    float: right;
    clear: right;
}
.text img.ins {
    border: 1px solid #ffb;
}
.text img.side {
    border: 1px solid #ccc;
    margin: 0 0 .8em 1em; 
    cursor: -webkit-zoom-in;
}


.text ul {
    padding-left: 1.5em;
}


ins, .ins, #meta a.ins {
    background-color: #ffb;  
    text-decoration: inherit;
}
blockquote.ins, h1.ins, h2.ins, p.ins , ul.ins, li.ins {
    background-color: inherit;
    border-left: 8px solid #ffb;
    padding-left: 8px;
}


.text .inmoredetail {
    display: none;
    cursor: pointer;
    color: #5A5A5A;
    border-left: 5px solid #eee;
}

.text .inmoredetail .inmoredetail,
.text .inmoredetail + .inmoredetail {
    border-left: none;
}

.text .imdbutton {
    background: #ddd;
    color: #000;
    font-size: 75%;
    cursor: pointer;
    font-weight: bold;
    border-radius: .3em;
    padding: .4em;
}

.text .imdbutton.manualbutton {
    font-weight: normal;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1em;
    line-height: 1em;
    color: inherit;
}
.text .imdbutton.manualbutton ins {
    background: none;
    color: inherit;
    border-bottom: 3px solid #ffb;
}
