{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% block content %}
<div id="nav">
    <a href="/">{{site.name}}</a> /
    <a href="{{story.get_absolute_url}}">{{story.name}}</a> /
    {{question.title}}
</div>
<div id="header">
    {% include 'lstory/header.html' with current=story %}

</div>
<div id="summary">

</div>
<div id="article" class="state_tab2">
    <ul class="tabs">
        <li class="first tab1">
            <a href="{{question.story.get_absolute_url}}">{% trans "Back to Story" %}</a>
        </li>
        <li class="tab2">
            <a href="{{question.get_absolute_url}}">{% trans "Question:" %} {{question.title}}</a>
        </li>
    </ul>

    <div class="tab_content tab2 inner">

        <div class="questiontext">
            {{question.comment|markdown}}
        </div>
    </div>
</div>
<div id="react">
    <div class="inner">
        {% load threadedcomments_tags %}

        {% get_comment_list for question as comment_list %}
        {% for comment in comment_list|fill_tree|annotate_tree %}
            {% ifchanged comment.parent_id %}{% else %}
                </li>
            {% endifchanged %}

            {% if not comment.open and not comment.close %}
                </li>
            {% endif %}
                
            {% if comment.open %}
                <ul class="thread">
            {% endif %}

            <li{% if comment.last %} class="last"{% endif %}>

            {{ comment.comment|markdown }}
            <div class="meta">
                — {% if comment.url %}<a href="{{comment.url}}" rel="nofollow">{% endif %}{% if comment.user %}{{comment.user}}{% else %}{{comment.name}}{% endif %}{% if comment.url%}</a>{% endif %} <a href="#" onclick="$('#comment_form_for_{{comment.pk}}').toggle(); return false;">(reply)</a>
            </div>

            <div id="comment_form_for_{{comment.pk}}" style="display: none;">
                {% render_comment_form for question with comment.pk %}
            </div>

            {% for close in comment.close %}
                </li>
                </ul>
            {% endfor %}
        {% endfor %}

        <a href="" class="pillbtn" onclick="$('#comment_form_for_question').toggle(); return false;">Add Comment</a>
        <div id="comment_form_for_question" style="display: none;">
            {% render_comment_form for question %}
        </div>
    </div>
</div>

{% endblock %}
