{% extends 'base.html' %}
{% load i18n %}
{% load markup humanize_timesince %}
{% block bodyargs %}
class="question"
{% endblock %}
{% block content %}
<div id="bar">
    <div id="nav">
        <a href="/">{{site.name}}</a> /
        <a href="{{story.get_absolute_url}}">{{story.name}}</a> /
        {{question.title}}
    </div>
</div>
<div id="header">
    {% include 'lstory/header.html' with current=story %}

</div>
<div id="summary">

</div>
<div id="article" class="state_tab2">
    {% include 'lqa/question_vote.inc' %}
    <ul class="tabs">
        <li class="first tab1">
            <a href="{{question.story.get_absolute_url}}">{% trans "Back to Story" %}</a>
        </li>
        <li class="tab2">
            <a href="{{question.get_absolute_url}}">{% trans "Question:" %} {{question.title}}</a>
        </li>
    </ul>

    <div class="tab_content tab2 inner">

        <div class="questiontext">
            {{question.comment|markdown}}
        </div>
    </div>
</div>
<div id="react">
    <div class="inner">
        {% load threadedcomments_tags %}

        {% get_comment_list for question as comment_list %}
        {% for comment in comment_list|fill_tree|annotate_tree %}
            {% ifchanged comment.parent_id %}{% else %}
                </li>
            {% endifchanged %}

            {% if not comment.open and not comment.close %}
                </li>
            {% endif %}
                
            {% if comment.open %}
                <ul class="thread">
            {% endif %}

            <li class="leveldown {% if comment.last %} last{% endif %}">
            {% include 'comments/_comment.inc' %}

            {% for close in comment.close %}
                </li>
                </ul>
            {% endfor %}
        {% endfor %}

        <a href="" class="pillbtn" onclick="$('#comment_form_for_question').toggle(); return false;">{% trans "Add Comment" %}</a>
        <div id="comment_form_for_question" style="display: none;">
            {% render_comment_form for question %}
        </div>
    </div>
</div>

{% endblock %}
