{% extends 'base.html' %}
{% load i18n %}
{% load markup humanize_timesince %}
{% load threadedcomments_tags %}
{% block bodyargs %}
class="question"
{% endblock %}
{% block content %}
<div id="bar">
    <div id="nav">
        <a href="/">{{site.name}}</a> /
        {% trans "Question for" %} <a href="{{story.get_absolute_url}}">{{story.name}}</a> /
        {{question.title}}
    </div>
</div>
<div id="header">
    <h1>{{question.title}}</h1>

</div>
<div id="summary">

</div>
<div id="meta">
    {% include 'lqa/question_vote.inc' %}
    <span class="icon">◂</span>
    <a href="{{question.story.get_absolute_url}}">{% blocktrans with question.story.name as storyname %}Back to {{storyname}}{% endblocktrans %}</a>
    <span class="author">{% blocktrans with question.user.username as username %}Asked by {{username}}{% endblocktrans %}</span>
    <span class="status">{% blocktrans with question.get_state_display as status  and question.created_at|date as created_at %}{{status}} since {{created_at}}{% endblocktrans %}</span>
</div>
<div id="article" class="state_tab2">
    <div class="questiontext inner">
        {{question.comment|markdown}}
    </div>
</div>
<div id="comments">
    <div class="inner">
        <a href="" class="pillbtn" onclick="$('#comment_form_for_question').toggle(); return false;">{% trans "Add Comment" %}</a>
        <h2>{% trans "Comments" %}</h2>

        <div id="comment_form_for_question" style="display: none;">
            {% if request.user.is_authenticated %}
            {% render_comment_form for question %}
            {% else %}
            <div class="pleaselogin">{% trans "Please log in to post a comment!"%}</div>
            {% endif %}
            <hr />
        </div>

        {% get_comment_list for question as comment_list %}
        {% for comment in comment_list|fill_tree|annotate_tree %}
            {% ifchanged comment.parent_id %}{% else %}
                </li>
            {% endifchanged %}

            {% if not comment.open and not comment.close %}
                </li>
            {% endif %}
                
            {% if comment.open %}
                <ul class="thread">
            {% endif %}

            <li class="leveldown {% if comment.last %} last{% endif %}">
            {% include 'comments/_comment.inc' %}

            {% for close in comment.close %}
                </li>
                </ul>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}
