{% extends 'tumblelog/post.html'%}
{% load markup i18n %}
{% load ifgt %}
        {% block tumblemeta %}
        {% if previous %}
        {% ifgt previous.ltools_versiondate post.published_at %}
        <span class="ins">{% blocktrans with post.published_at|timesince as timesince %}{{ timesince }} ago{% endblocktrans %}</span>
        {% else %}
        {% blocktrans with post.published_at|timesince as timesince %}{{ timesince }} ago{% endblocktrans %}
        {% endifgt %}
        {% else %}
        {% blocktrans with post.published_at|timesince as timesince %}{{ timesince }} ago{% endblocktrans %}
        {% endif %}
        {% blocktrans with post.author as author %}by {{author}}{% endblocktrans %}
        {% endblock %}
    </div>
</div>
