{% extends 'userena/base_userena.html' %}
{% load i18n crispy_forms_filters %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block overcontent %}
<div id="header">
    <h1>{% trans "Reset password" %}</h1>
</div>
{% endblock %}
{% block content %}
<form action="" method="post" class="uniForm">
  <fieldset>
    <legend>{% trans "Reset Password" %}</legend>
    {% csrf_token %}
    {{ form|crispy }}
</fieldset>
  <div class="buttonHolder">
      <input type="submit" value="{% trans "Send password" %}" class="primaryAction" />
  </div>
</form>
{% endblock %}
