{% extends 'userena/base_userena.html' %}
{% load i18n %}{% load crispy_forms_tags %}{% load static %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "uni_form/uni-form.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "uni_form/default.uni-form.css" %}" type="text/css" />

{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block overcontent %}
<div id="bar">
    <div id="nav">
        <a href='{% url "userena_profile_detail" user.username %}'><span>{% trans 'View profile' %}</span></a> / 
        <a href='{% url "userena_profile_edit" user.username %}'>{% trans "Edit profile" %}</a> / 
        <a href='{% url "userena_password_change" user.username %}'>{% trans "Change password" %}</a> / 
        <a href='{% url "userena_email_change" user.username %}'>{% trans "Change email" %}</a> / 
    </div>
</div>
<div id="header">
    <h1>{% trans "Edit Profile" %}</h1>
</div>
{% endblock %}


{% block content %}

<div id="article" class="text">
<form action="" enctype="multipart/form-data" method="post" class="uniForm inner">
  {% csrf_token %}
  <fieldset style="clear: left;">
      <br />
    {{ form|crispy }}
  </fieldset>
  <input type="submit" value="{% trans "Save changes" %}" />
</form>
</div>
{% endblock %}
