{% extends 'userena/base_userena.html' %}
{% load i18n crispy_forms_filters %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block overcontent %}
<div id="header">
    <h1>{% trans "Signin" %}</h1>
</div>
{% endblock %}

{% block content %}
<form action="" method="post" class="uniForm">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|crispy}}
  </fieldset>
  <div class="buttonHolder">
      <input type="submit" value="{% trans "Signin" %}" class="primaryAction" />
  </div>
  <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
{% endblock %}
