{% load markup %}
{% load ifgt %}
<div class="entry {{ post.post_type }}" data-pubdate="{{ post.published_at.isoformat }}">
    {% block tumbletitle %}
    <h2><a href="{{ post.get_absolute_url }}">{{ post.fields.title }}</a></h2>
    {% endblock %}
    {% block tumblecontent %}
    {% if post.data.provider_url %}<a href="{{post.data.provider_url}}">{{ post.data.body|markdown }}</a>{% else %}{{post.data.body|markdown}}{%endif%}
    {% endblock %}
    {% block tumblemeta %}
    <div class="meta">
        {% if previous %}
        {% ifgt previous.ltools_versiondate post.published_at %}
        <span class="ins">{{ post.published_at|timesince }} ago</span>
        {% else %}
        {{ post.published_at|timesince }} ago
        {% endifgt %}
        {% else %}
        {{ post.published_at|timesince }} ago
        {% endif %}
        by {{post.author}}
    </div>
    {% endblock %}
</div>
