{% extends 'base.html' %}
{% load url from future %}
{% load static %}
{% load i18n %}
{% block head %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'storyfeed' slug=current.slug %}" />
    {% if not current.versions.is_current %}<meta name="robots" content="noindex" />{% endif %}
{% endblock %}
{% block content %}
{% load markup %}
{% load threadedcomments_tags %}
{% load voting_tags %}
{% load lqa %}

<div id="bar">
    <div id="nav">
        <a href="/">{{site.name}}</a> /
        {{current.name}}
    </div>
</div>

<div id="header">
    {% include 'lstory/header.html' %}
</div>
<div id="summary">
    {% if field_diff %}
        {{field_diff.summary.0|markdown:"extra,insparagraph"}}
    {% else %}
        {{current.summary|markdown:"extra,insparagraph"}}
    {% endif %}
</div>
{% block beforearticle %}
{% endblock %}
<div id="meta">
    <span class="icon">⌚</span>
    {% include 'lstory/history.inc.html' %}<br />
</div>
<div id="article" data-article-id="{{current.slug}}" data-mark-as-read="{% url "mark_as_read" slug=current.slug%}" data-article-current="{{ current.versions.is_current }}" data-article-changed="{% if previous %}{% ifequal current.versions.this_date previous.versions.this_date %}False{%else%}True{%endifequal%}{% else %}False{% endif %}" {% if previous %}data-article-previous-date="{{previous.versions.this_date.isoformat}}"{% endif %} data-article-current-date="{{current.versions.this_date.isoformat}}" data-allow-mark-as-read="{% if allow_mark_as_read %}True{% else %}False{%endif%}">


<div id="history">
    <div id="versionlink" style="">
        {% trans "link to this version" %}:
        <input type="text" value="http://{{request.get_host}}{{current.get_version_url}}" />
        <br />
        {% trans "embed this article" %}:
        <br />
        <input type="text" id="embed_value" />
    </div>
    <div class="highlight">
        {% include 'lstory/timeline.inc.html' with timeline_class='highlight' %}
    </div>
    <div class="version">
        <span class="switch">
            {% if current.versions.previous %}
            <a href="{{current.versions.previous.get_version_url}}">«</a>
            {% endif %}
            {% if current.versions.next %}
            <a href="{{current.versions.next.get_version_url}}">»</a>
            {% endif %}
        </span>
        {% include 'lstory/timeline.inc.html' with tmode_version='yup' timeline_class='version' %}
    </div>
</div>
{% if current.cover_image %}
<div id="leadimage" class="{% if field_diff.cover_image.1 %}ins{% endif %}">
    <img src="{{current.cover_image.url}}" />
</div>
{% endif %}
<div class="inner">
    {% if current.authors.all %}
    <div id="author" onmouseover="$(this.nextSibling).show()" onmouseout="$(this.nextSibling).hide()">
      <img class="mugshot" src="{{current.authors.all.0.get_profile.get_mugshot_url}}" width="30" />
      </div>
    {% endif %}
      <div id="authorprofile">
      {% for author in current.authors.all %}
      <div class="name">{% if author.get_profile.website %}<a href="{{author.get_profile.website}}">{% endif %}{% if author.get_profile.get_full_name %}{{author.get_profile.get_full_name}}{% else %}{{author.username}}{% endif %}{% if author.get_profile.website %}</a>{% endif %}</div>
      <div class="about">
          {% if author.get_profile.about_me %}{{author.get_profile.about_me|markdown}}{% endif %}
      </div>
      {% endfor %}
    </div>

    {% if field_diff %}
    {{ field_diff.body.0|markdown:"extra,insparagraph,inmoredetail" }}
    {% else %}
    {{current.body|markdown:"extra,insparagraph,inmoredetail"}}
    {% endif %}
</div>
<div id="end_of_article"></div>
<div id="mark_as_read" class="hiding reload-here">
    {% include 'lstory/mark_as_read_popup.inc' %}
</div>
</div>

<div id="sidebar">
    <!--ul class="tabs">
        <li class="sel">
            <a href>{% trans "About the Author" %}</a>
        </li>
    </ul>
    <div id="authorinfo">
        {% for author in current.authors.all %}
        <img class="mugshot" src="{{author.get_profile.get_mugshot_url}}" /> <div class="name">{% if author.get_profile.website %}<a href="{{author.get_profile.website}}">{% endif %}{% if author.get_full_name %}{{author.get_full_name}}{% else %}{{author.username}}{% endif %}{% if author.get_profile.website %}</a>{% endif %}</div>
        <div class="about">
            {% if author.get_profile.about_me %}{{author.get_profile.about_me|markdown}}{% endif %}
        </div>
        {% endfor %}
        <br class="clear" />
    </div-->
    <ul class="tabs">
        <li class="sel">
            <a href>{% trans "Current events" %}</a>
        </li>
    </ul>
    <div id="stream" class="tumblelog">
        <div id="entries">
            {% for post in tumbleposts %}
                {% include post.template %}
            {% endfor %}
        </div>
    </div>
</div>

<div id="react" class="state_tab2">
    <div class="tab_content tab2 inner sections2 qa">
        <a href="" class="pillbtn" onclick="$('#qaform').toggle(); return false;">{% trans "Ask a question" %}</a>
        <h1>{% trans "Q&amp;A" %}</h1>
      {% comment %}
        <ul class="filter">
          <li class="sel"><a href="">all</a></li>
          <li><a href="">answered</a></li>
          <li><a href="">researching</a></li>
          <li><a href="">open</a></li>
      </ul>
      {% endcomment %}
        {% for question in current.question_set.all %}
        {% include 'lqa/_question.html' %}
      {% endfor %}
      <div id="qaform" style="display: none; clear: both;">
          {% if request.user.is_authenticated %}
          {% render_question_form for current %}
          {% else %}
          {% trans 'Sign in to post a question!' %}
          {% endif %}
        </div>
    </div>
</div>

{% endblock %}

