{% extends 'base.html' %}
{% load url from future %}
{% load make_map %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'storyfeed' slug=current.slug %}" />
    <script src="{% static 'js/worldmap.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
{% endblock %}
{% block content %}
{% load markup %}
{% load replace %}

<div id="nav">
    <a href="/">{{site.name}}</a> /
    {{current.name}}
</div>

<div id="header">
    <div id="essentials">
        {% if current.region %}
            <div id="place" class="essential">
                <h3>Where</h3>
                <canvas id="placemap" height="60px" width="125px"></canvas>
            </div>
            {{current.get_region_data|make_map:"placemap"}}
        {% endif %}
        <div id="time" class="essential">
            <h3>When</h3>
            <div id="time_selection">
                {% spaceless %}
                {% if current.timeframe_start %}{{current.timeframe_start|date:"Y"}}{% endif %}{% spaceless %}
                {% endspaceless %}{% if current.timeframe_start or current.timeframe_end %}—{% endif %}{% spaceless %}
                {% endspaceless %}{% if current.timeframe_end %}{{current.timeframe_end|date:"Y"}}{% else %}<em>ongoing</em>{% endif %}
                {% endspaceless %}
            </div>
        </div>
        <div id="freshness" class="essential" title="activity over the last month">
            <h3>Active?</h3>
            <span class="inlinesparkline">{{current.versions.activity|join:','|replace:"None,null"}}</span>
        </div>
        <script>
            $('.inlinesparkline').sparkline('html', {height: '35px', spotColor: false, minSpotColor: false, maxSpotColor: false, disableInteraction: true});
        </script>
    </div>
    <h1>{{current.title}}</h1>
</div>
<div id="summary">
    {% if field_diff %}
        {{field_diff.summary.0|markdown:"extra,insparagraph"}}
    {% else %}
        {{current.summary|markdown:"extra,insparagraph"}}
    {% endif %}
</div>
{% if summary %}
<hr />
{{summary.body|markdown:"extra,insparagraph"}}
<hr />
{% endif %}
<div id="meta">
    <span class="icon">⌚</span>
    {% include 'lstory/history.inc.html' %}<br />
</div>
<div id="article" data-article-id="{{current.slug}}" data-mark-as-read="{% url "mark_as_read" slug=current.slug%}" data-article-current="{{ current.versions.is_current }}" data-article-changed="{% if previous %}{% ifequal current.versions.this_date previous.versions.this_date %}False{%else%}True{%endifequal%}{% else %}False{% endif %}" {% if previous %}data-article-previous-date="{{previous.versions.this_date.isoformat}}"{% endif %} data-article-current-date="{{current.versions.this_date.isoformat}}" data-allow-mark-as-read="{% if allow_mark_as_read %}True{% else %}False{%endif%}">

<div class="inner">
    {% if field_diff %}
    {{ field_diff.body.0|markdown:"extra,insparagraph" }}
    {% else %}
    {{current.body|markdown:"extra,insparagraph"}}
    {% endif %}
</div>
<div id="end_of_article"></div>
<div id="mark_as_read" class="hiding reload-here">
    {% include 'lstory/mark_as_read_popup.inc' %}
</div>
</div>

<div id="sidebar">
    <div id="stream" class="tumblelog">
    {% for post in tumbleposts %}
        {% include post.template %}
    {% endfor %}
    </div>
</div>

{% endblock %}

