<div class="history">
    {% for date,changeddates in current.versions.by_date %}{%spaceless%}
        {% for story in changeddates %}<a href="{{story.get_absolute_url}}?since={{story.ltools_versiondate.isoformat}}" data-date="{{story.ltools_versiondate.isoformat}}">|</a>{% endfor %}
    {%endspaceless%}{% endfor %}
</div>
<div class="historyform {{mode}}">
    <div class="highlight">
        <a rel="switch">From</a> 
        {% include 'lstory/timeline.inc.html' with timeline_class='highlight' %}
    </div>
    <div class="version">
        <a rel="switch">At</a>
        {% include 'lstory/timeline.inc.html' with tmode_version='yup' timeline_class='version' %}
    </div>
</div>
<div class="switch">
    {% if current.versions.previous %}
    <a href="{{current.versions.previous.get_version_url}}">«</a>
    {% endif %}
    {% if current.versions.next %}
    <a href="{{current.versions.next.get_version_url}}">»</a>
    {% endif %}
</div>


