<div class="history">
    {% for date,changeddates in current.versions.by_date %}{%spaceless%}
        {% for story in changeddates %}<a href="{{story.get_absolute_url}}?since={{story.ltools_versiondate.isoformat}}" data-date="{{story.ltools_versiondate.isoformat}}">|</a>{% endfor %}
    {%endspaceless%}{% endfor %}
</div>
<div class="historyform {{mode}}">
    <div class="highlight">
        <form method="get" action="{{ current.get_absolute_url }}">
            <a rel="switch">From</a> 
            <input name="since" class="since" type="text" value="{% if fromdate%}{{fromdate.date.isoformat}}{% endif %}" />
            until
            <input name="until" class="until" type="text" value="{% if todate %}{{todate.date.isoformat}}{% endif %}" />
            <input type="submit" value="go" />
        </form>
    </div>
    <div class="version">
        <form method="get" action="{{current.get_absolute_url}}">
            <a rel="switch">At</a>
            <input name="date" class="date" type="text" value="{% if date %}{{date.date.isoformat}}{% else %}{{todate.date.isoformat}}{%endif%}" />
            <input type="submit" value="go" />
        </form>
    </div>
</div>
<div class="switch">
    {% if current.versions.previous %}
    <a href="{{current.versions.previous.get_version_url}}">«</a>
    {% endif %}
    {% if current.versions.next %}
    <a href="{{current.versions.next.get_version_url}}">»</a>
    {% endif %}
</div>

<div class="newhistory" style="display: block">
    <ul class="months">
        {% spaceless %}
        {% regroup current.versions.timeline by date|date:"F Y" as timeline %}
        {% for month in timeline %}
        <li><span class="month">{{ month.grouper }}</span><ul>
        {% for day in month.list %}
        <li data-date="{{day.date|date:'c'}}" {% if not day.events %}class="empty"{% endif %}><ul>{% for event in day.events %}<li><a href="{{event.get_version_url}}" data-date="{{event.ltools_versiondate.isoformat}}">{{event.ltools_versiondate|date:'d'}}</a></li>{%endfor%}</ul></li>
        {% endfor %}
        </ul></li>
        {% endfor %}
        {% endspaceless %}
    </ul>
</div>
