<div class="historyform">
    Last updated {{current.versions.this_date|timesince}} ago
    <a class="switch highlight ins">{% if not previous %}Highlight Changes{% else %}
        {% ifequal previous.versions.this_date current.versions.this_date %}
        No changes to highlight{% else %}Changes since {{previous.versions.this_date|timesince}} ago
        {% endifequal %}{% endif %}</a> 
    <a class="switch version">{% if previous %}Access History{% else %}Displaying content from {{current.versions.this_date|date}}{% endif %}
    
    
    </a>
    {% if previous %}<div style="display: inline-block; "><a href="" onclick="$('#versionlink').toggle(); return false;" class="with_icon" title="Perpetual link to this version">∞<span>Cite this version</span></a><br />
    </div>{% endif %}
</div>


