{% extends 'base.html' %}{% load i18n markup %}
{% block bodyargs %}class="index"{% endblock %}
{% block content %}
<div id="header">
    <h1>{{site.name}}</h1>
</div>
<div id="index">
    <div class="inner">
      {% block innercontent %}
        {% for story in stories %}
        <div class="story">
            {% if story.cover_image %}<div class="leadimage"><img src="{{story.cover_image.url}}" /></div>{% endif %}
            {% include 'lstory/_linkto.inc' %}
        </div>
        {% endfor %}

        {% for story in retired %}
            {% if forloop.first %}
                <h2>{% trans 'Retired Stories' %}
            {% endif %}
            {% include 'lstory/_linkto.inc' with h='h4' %}
        {% endfor %}
      {% endblock %}
    </div>
</div>
<div id="react">
    <div class="inner">
        {{flatcontent.content|default:""|markdown}}
    </div>
</div>
<div id="sidebar">
</div>
{% endblock %}
