<div class="timeline {{timeline_class|default_if_none:''}}" style="display: block">
    <ul class="months">
        {% spaceless %}
        {% regroup current.versions.timeline by date|date:"F Y" as timeline %}
        {% for month in timeline %}
        <li><span class="month">{{ month.grouper }}</span><ul>
        {% for day in month.list %}
        <li data-date="{{day.date|date:'c'}}" {% if not day.events %}class="empty"{% endif %}><ul>{% for event in day.events %}<li>
            <a href="{% spaceless %}
                {% if tmode_version %}{{event.get_version_url}}
                {% else %}{{event.get_absolute_url}}?since={{event.versions.this_date.isoformat}}
                {% endif %}
                     {% endspaceless %}" data-date="{{event.versions.this_date.isoformat}}">{{event.versions.this_date|date:'d'}}</a>
        </li>{%endfor%}</ul></li>
        {% endfor %}
        </ul></li>
        {% endfor %}
        {% endspaceless %}
    </ul>
</div>
