{% extends "admin/change_form.html" %}
{% load static %}
{% load url from future %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/jsdiff.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tabs').tabs();
    });
</script>
<link rel="stylesheet" href="{% static 'text.css' %}" />
<style>
    .summary_preview, .text_preview, #oldbody, #oldsummary {
        padding-right: 2em;
    }
</style>
{% endblock %}
{% block content %}


<div style="float: left; width: 40%;">
    {% if story_changed %}
        Story changed since Change Suggestion was created!
    {% endif %}
    <div id="tabs">
        <ul>
            <li><a href="#tab-1">Difference {% if story_changed %}to original Version{%endif %}</a></li>
            <li><a href="#tab-2">Preview</a></li>
            {% if story_changed %}<li><a href="#tab-3">Difference to current<a/></li>{% endif %}
        </ul>
        <div class="diff" id="tab-1">
            <h2>Summary</h2>
            <div id="oldsummary">
            </div>
            <h2>Text</h2>
            <div id="oldbody">
            </div>
        </div>
        <div class="preview" id="tab-2">
            <a href="#" onclick="refreshBodyPreview(true);refreshSummaryPreview(true); return false;">Refresh</a>
            <h2>Summary</h2>
            <div class="summary_preview text">
            </div>
            <h2>Text</h2>
            <div class="text_preview text">
            </div>
        </div>
        {% if story_changed %}<div class="diffcur" id="tab-3">
            <h2>Summary</h2>
            <div id="cursummary">
            </div>
            <h2>Text</h2>
            <div id="curbody">
            </div>
        </div>{% endif %}
    </div>
</div>
<div style="float: left; width: 60%;">
    {{ block.super}}
</div>
<div style="clear: both;">&nbsp;</div>


<script>
        var oldbody = '{{original_body|escapejs}}';
        var oldsummary = '{{original_summary|escapejs}}';
        var curbody = '{{current_body|escapejs}}';
        var cursummary = '{{current_summary|escapejs}}';
        var bodyel = document.getElementById('id_body');
        var summaryel = document.getElementById('id_summary');

        var oldsummaryel = document.getElementById('oldsummary');
        var oldbodyel = document.getElementById('oldbody');
        var cursummaryel = document.getElementById('cursummary');
        var curbodyel = document.getElementById('curbody');
    function refreshDiff() {
        oldbodyel.innerHTML = diffString(escape(oldbody), escape(bodyel.value)).replace(/\n/g,'<br/>');
        oldsummaryel.innerHTML = diffString(escape(oldsummary), escape(summaryel.value)).replace(/\n/g,'<br />');
        if(curbodyel) {
            curbodyel.innerHTML = diffString(escape(curbody), escape(bodyel.value)).replace(/\n/g,'<br/>');
            cursummaryel.innerHTML = diffString(escape(cursummary), escape(summaryel.value)).replace(/\n/g,'<br />');
        }
    }
    var refreshPreview_timer = null;

    function refreshPreview(element, text, ignore_timer) {
        if(refreshPreview_timer) {
            clearTimeout(refreshPreview_timer);
        }
        element.html('loading');
        var fn = function() { element.load('/api/preview/', {'text': text}, function() {initInMoreDetail(element);})};
        if(ignore_timer===undefined) {
            refreshPreview_timer = setTimeout(fn, 3000);
        } else {
            fn();
        }
    };
    function refreshBodyPreview(ignore_timer) {
        refreshPreview($('.text_preview'), $(bodyel).val(), ignore_timer);
    }
    var refreshSummaryPreview = function(ignore_timer) {refreshPreview($('.summary_preview'), $(summaryel).val(), ignore_timer);};
    $(document).ready(function() {

        var x = function() {
            refreshDiff();
        };
        refreshDiff();
        $(bodyel).keyup(x);
        $(summaryel).keyup(x);

        $(bodyel).keyup(function(){ refreshBodyPreview();});
        $(summaryel).keyup(function(){ refreshSummaryPreview();});
    });
</script>
{% endblock %}
{% block submit_buttons_bottom %}
{% if object_id and request.user in adminform.form.instance.story.authors.all %}
<div class="submit-row">
    <button onclick="if(confirm('are you sure you want to overwrite the story with the data here?')) {window.location = '{% url 'backend:lstory_changesuggestion_save_to_story' object_id %}'; } return false;">publish in story</button>
</div>
{% endif %}
{{block.super}}
{% endblock %}
