.ui-dialog-content .imagegrid {
}

.ui-dialog-content .imagegrid .image {
    width: 30%;
    float: left;
    height: 100px;
    margin: 1.5%;
    position: relative;
    text-align: center;
}

.ui-dialog-content .imagegrid .image img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.ui-dialog-content form {
    clear: left;
}

.ui-dialog-content .imageuploadform p {
    display: inline;
}
